on: [push]

name: Continuous Integration

jobs:
  macos:
    name: Test and Lint (macos)
    runs-on: macos-latest
    strategy:
      matrix:
        rust:
          - stable
          - 1.44.0
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.rust }}
          override: true
      - run: rustup component add clippy
      - name: check
        uses: actions-rs/cargo@v1
        with:
          command: check
      - name: test
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --no-run
      - name: clippy
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: -- -D warnings

  clang-format:
    name: test clang-format
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: DoozyX/clang-format-lint-action@v0.8
      with:
        source: './objc'
        exclude: './third_party ./external'
        extensions: 'h,m'
        clangFormatVersion: 10
        style: file # read style from .clang-format

  rustfmt:
    name: test rustfmt
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Install nightly toolchain with rustfmt available
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly
          override: true
          components: rustfmt
